
@import "materialize";

header {
  min-height: 230px;
  padding-top: 60px;
  padding-bottom: 100px;
  height: auto;

  .name {
    font-weight: 300;
    font-size: 38px;

    .lastname {
      font-weight: 500;
    }
  }

  .social img {
    height: 30px;
    text-align: center;
  }
}

.timeline {
  .line {
    display: inline-block;
    min-height: 800px;
    width: 10px;
    margin: 0 3px;
  }
}