
@import "materialize";

header {
  min-height: 230px;
  padding-top: 60px;
  padding-bottom: 100px;
  height: auto;

  .name {
    font-weight: 300;
    font-size: 38px;

    .lastname {
      font-weight: 500;
    }
  }

  .social img {
    height: 30px;
    text-align: center;
  }
}

.row-lines{
  position: relative;
  .line-style{
    position: absolute;
    top: 5px;
    left: 45%;
    height: 105%;
  }
}
.timeline {
  .line {
    display: inline-block;
    min-height: 80px;
    height: 100%;
    width: 10px;
    margin: 0 3px;

//    @media #{$small-and-down} {
//    display: none;
//  }
  }

  .label {
    &.right {
      right: 0;
    }
    &.left {
      left: 0;
    }

    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
  }

  .card {
    p.details {
      font-style: italic;
      font-weight: 300;
    }
  }
}