{% macro base(title, short_desc='', desc='', picture='', alt='',
                position='left', details='', size="medium", class="" ) -%}

    <div class="col s12 m5 {{ 'offset-l2 offset-m2'  if position == 'right' }} item {{ class }}">
        <div class="row">
            <div class="card {{ size }} hoverable">
                {% if picture %}
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ url_for('static', filename='image/'+picture) }}"
                             alt="{{ alt }}"/>
                    </div>
                {% endif %}
                <div class="item-marker {{ position }}"></div>
                <div class="card-content activator">
                    <span class="category">{{ class }}</span><br>
                    <span class="title card-title activator text-darken-4 black-text text-accent-4">
                        {{ title }}
                    </span>


                    <p>{{ short_desc }}</p>
                    {% if details %}
                        <p class="details">{{ details }}</p>
                    {% endif %}
                    {{ caller() }}
                </div>
                {% if desc %}
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ title }}<i class="material-icons right">close</i></span>

                        <p>{{ desc|nl2br }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro education(education, position) %}
    {% call base(education.degree, education.school, education.desc, education.picture,
         alt=education.school,
         position=position,
         size=education.size,
         class="education") %}
    {% endcall %}
{% endmacro %}

{% macro work(work, position='left') %}
    {% call base(work.title, work.short_desc, work.desc, work.picture, work.alt, position,
        details=work.technologies,
        size=work.size,
        class="work") %}
    {% endcall %}
{% endmacro %}

{% macro project(project, position='left') %}
    {% call base(project.title, project.short_desc, project.desc, project.picture, project.alt, position,
        details=project.technologies,
        size=project.size,
        class="project") %}
    {% endcall %}
{% endmacro %}

