<p>
    I work on Android Studio, creating features that I would love to use as an Android Developer.
</p>
<p>
    I am curious about everything that is running with  codes as long as it doesn't try to exterminate every single
    living things on the planet, but fortunately we will soon be able to live on Mars so we'll have an escape plan in
    case it happens.<br/>
    I am also a big fan of animated movies frustrated to only be able to poorly draw stick man.
</p>
<p>
    Finally just a small biography: I am French engineer who graduated from INSA Lyon in 2016 with a Master in Computer
    Science and Software Engineering.
</p>
