<p>
    There is one thing I really like about computing : interact with the real world! <br>
    I my own opinion, there is two ways to do so in software engineering, either you interact with the user or
    with the machine. That's why I like building things around the UI/UX and embedded systems.
</p>
<p>
    When building graphical components, I love that the final user feels a smooth experience with the product I built
    and that they see something clean and awesome.
</p>
<p>
    The thing I love about embedded system is to know that users will physically hold and touch things that I
    programmed. And once again, I want them to feel like I would like to feel when using such a device : everything is
    easy to achieve, and does what I intended to do.
</p>