{% macro skill(name, image, number) %}
    <div class="col s2 accent-4">{{ name }}</div>
    <div class="col s10 left">
        {% for i in range(0, number) %}
            <img src="{{ url_for('static', filename='image/' + image) }}" height="30">
        {% endfor %}
    </div>
{% endmacro %}

<div class="container skills">
    <h2 class="row center green white-text ">Skills</h2>

    <div class="row center">
        <div class="col m10">
            <h3>Programming</h3>
            <canvas id="chart-coding" width="400" height="400"></canvas>
        </div>
        <div class="col m2">
            <div id="labels-coding"></div>
        </div>
    </div>
    <div class="row center">
        <div class="col m10">
            <h3>Other</h3>
            <canvas id="chart-other" width="400" height="400"></canvas>
        </div>
        <div class="col m2">
            <div id="labels-other"></div>
        </div>
    </div>
</div>


<script>
    var ctxCoding = document.getElementById("chart-coding").getContext("2d");
    var dataCoding = [
        {
            value: 5,
            color: "#4caf50",
            highlight: "#66bb6a",
            label: "Android (Java)"
        },
        {
            value: 4,
            color: "#0288d1",
            highlight: "#039be5",
            label: "Python",
            labelColor: 'white',
            labelFontSize: '16'
        },
        {
            value: 4,
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "Javascript"
        },
        {
            value: 3,
            color: "#e53935",
            highlight: "#f44336",
            label: "C"
        },
        {
            value: 2,
            color: "#ff5722",
            highlight: "#ff7043",
            label: "C++"
        }
    ];

    var ctxOther = document.getElementById("chart-other").getContext("2d");
    var dataOther = [
        {
            value: 5,
            color: "#4caf50",
            highlight: "#66bb6a",
            label: "Project Management"
        },
        {
            value: 4,
            color: "#0288d1",
            highlight: "#039be5",
            label: "UML"
        },
        {
            value: 3,
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "Image Editing (GIMP)"
        }
    ];


    var options = {
        name: "skills",

        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke: true,

        //String - The colour of each segment stroke
        segmentStrokeColor: "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth: 2,

        //Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout: 50, // This is 0 for Pie charts

        //Number - Amount of animation steps
        animationSteps: 100,

        //String - Animation easing effect
        animationEasing: "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate: true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale: false,

        //String - A legend template
        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){ %><li style=\"background-color:<%=segments[i].fillColor%>\"><%if(segments[i].label){ %><%=segments[i].label%><%}%></li><%}%></ul>"

    };
    var codingChart = new Chart(ctxCoding).Doughnut(dataCoding, options);
    var otherChart = new Chart(ctxOther).Doughnut(dataOther, options);


    document.getElementById("labels-coding").innerHTML = codingChart.generateLegend();
    document.getElementById("labels-other").innerHTML = otherChart.generateLegend();


</script>


