<div class="row social">
    <div class="col l8 offset-l2 m10 offset-m1 s12">
        <div class="row">
            <div class="col s2 offset-s1 center button tooltipped" data-tooltip="Github">
                <a href="http://github.com/vcaen">
                    <img class="responsive-img circle hoverable z-depth-1"
                         src="{{ url_for('static', filename='image/github.png') }}">
                </a>
            </div>
            <div class="col s2 center button tooltipped" data-tooltip="Linkedin">
                <a href="https://fr.linkedin.com/in/vcaen">
                    <img class="responsive-img circle hoverable z-depth-1"
                         src="{{ url_for('static', filename='image/linkedin.png') }}">
                </a>
            </div>
            <div class="col s2 center button tooltipped" data-tooltip="Twitter">
                <a href="https://twitter.com/vadimcaen">
                    <img class="responsive-img circle hoverable z-depth-1"
                         src="{{ url_for('static', filename='image/twitter.png') }}">
                </a>
            </div>
            <div class="col s2 center button tooltipped" data-tooltip="Google+">
                <a href="https://plus.google.com/+VadimCaen/">
                    <img class="responsive-img circle hoverable z-depth-1"
                         src="{{ url_for('static', filename='image/googleplus.png') }}">
                </a>
            </div>
            <div class="col s2 center button tooltipped" data-tooltip="Stackoverflow">
                <a href="http://stackoverflow.com/users/3022177/vadim-caen">
                    <img class="responsive-img circle hoverable z-depth-1"
                         src="{{ url_for('static', filename='image/stackoverflow.png') }}">
                </a>
            </div>
        </div>
    </div>
</div>