<div class="row social">
        <div class="col l4 offset-l4 m10 offset-m1 s12">
            <div class="row">
                <div class="col s3 center"><a href="http://github.com/vcaen">
                    <img class="responsive-img" src="{{ url_for('static', filename='image/github.png') }}">
                </a>
                </div>
                <div class="col s3 center"><a href="https://fr.linkedin.com/in/vcaen">
                    <img class="responsive-img" src="{{ url_for('static', filename='image/linkedin.png') }}">
                </a>
                </div>
                <div class="col s3 center"><a href="https://twitter.com/vadimcaen">
                    <img class="responsive-img" src="{{ url_for('static', filename='image/twitter.png') }}">
                </a>
                </div>
                <div class="col s3 center"><a href="https://plus.google.com/+VadimCaen/">
                    <img class="responsive-img" src="{{ url_for('static', filename='image/googleplus.png') }}">
                </a>
                </div>
            </div>
        </div>
    </div>