<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>About Vadim</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{{ url_for('static', filename='css/timeline.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
</head>
<body>
<header class="container">

        <div class="center name">Vadim <span class="lastname">Caen</span></div>

    <div class=""><h6 class="center">Student in Software Engineering</h6></div>
    <div class="row"><h6 class="center">INSA Lyon, France</h6></div>
</header>
<div class="container">
    <div class="container s4 center timeline">
        <div class="line col S1 blue"></div>
        <div class="line col S1 red"></div>
        <div class="line col S1 orange"></div>
        <div class="line col S1 green"></div>

    </div>
</div>
</body>
</html>
